.simple-footer {
  background-color: $off-white;
  border-top: 1px solid $light-gray;
  color: #999;
  margin-top: 2.5rem;
  padding: 2.5rem 0;
  text-align: center;
}

.avatar {
  height: 230px;
  width: 230px;
}

.emoji {
  height: 64px;
  width: 64px;
}

.table-condensed {
  tbody {
    tr {
      td {
        vertical-align: middle;
      } 
    }
  }
}
